* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $primary;
}

ul {
  list-style: none;
}

.rights {
  display: block;
  padding: 1rem 2rem;
  top: 2rem;
  text-align: right;
  color: $gray-100;
  font-weight: normal;
  opacity: 70%;
  font-size: .8rem;
}

button {
  background: transparent;

  &:hover {
    cursor: pointer;
    svg {
      filter: drop-shadow( 0 0 5px #FFFFFF90)
    }
  }
}

main {
  display: flex;
  align-items: center;
  min-height: 90vh;

  .app {
    width: 100%;
    overflow: hidden;
    padding: 0 .5rem;

    display: flex;
    align-items: center;
    justify-content: center;
  
    @media (max-width: 720px) {
      flex-direction: column;

      #list-tracks {
        width: 100%;
        max-width: 100%;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 1rem 0;

        li {
          margin: .5rem;
          
          button {
            padding: 1rem;
            min-width: 150px;
            max-width: 150px;
          }
        }
      }
    }
  }

  @media (max-width: 720px) {
    min-height: 100%;
  }
}

.hidden {
  display: none;
}